@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Press+Start+2P&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
}

@layer base {
  h1 {
    @apply md:text-2xl text-xl
  }
  h2 {
    @apply md:text-xl text-base
  }
  h3, a {
    @apply md:text-base text-sm
  }
}

@layer utilities {
  .active {
    @apply bg-red-orange text-active
  }
}

.font-press-start-2p {
  font-family: "Press Start 2P",  system-ui; 
  font-weight: 400;
  font-style: normal;
}

.font-ibm-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
